<?xml version="1.0" encoding="UTF-8" ?>
<menu-root id="menu-root">
	<menu icon="fa fa-cog" menuId="1" name="系统管理" type="0" url="" perms="">
		<menu icon="fa fa-circle-o" menuId="101" name="PhExam" type="1" url="page/PhExam/PhExam.html" perms=""/>	
		<menu icon="fa fa-circle-o" menuId="102" name="PhDictItem" type="1" url="page/PhDictItem/PhDictItem.html" perms=""/>
		<menu icon="fa fa-circle-o" menuId="101" name="PhEmpIdentity" type="1" url="page/PhEmpIdentity/PhEmpIdentity.html" perms=""/>	
		<menu icon="fa fa-circle-o" menuId="102" name="PhReportData" type="1" url="page/PhReportData/PhReportData.html" perms=""/>
		<menu icon="fa fa-circle-o" menuId="101" name="PhReportJsonData" type="1" url="page/PhReportJsondata/PhReportJsondata.html" perms=""/>	
		<menu icon="fa fa-circle-o" menuId="102" name="PhReportLogheresult" type="1" url="page/PhReportLogheresult/PhReportLogheresult.html" perms=""/>
	</menu>
</menu-root>