<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuyantao.ctas.test.mapper.PhEmpIdentityMapper" >
  <resultMap id="BaseResultMap" type="com.xuyantao.ctas.test.entity.PhEmpIdentity" >
    <id column="EMP_ID" property="empId" jdbcType="BIGINT" />
    <result column="UNIQU_NO" property="uniquNo" jdbcType="BIGINT" />
    <result column="EMP_NAME" property="empName" jdbcType="VARCHAR" />
    <result column="ID_TYPE" property="idType" jdbcType="DECIMAL" />
    <result column="GENDER" property="gender" jdbcType="DECIMAL" />
    <result column="ID_CODE" property="idCode" jdbcType="VARCHAR" />
    <result column="MOBILE" property="mobile" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="BIRTH_DATE" property="birthDate" jdbcType="TIMESTAMP" />
    <result column="NATION" property="nation" jdbcType="INTEGER" />
    <result column="COUNTRY" property="country" jdbcType="VARCHAR" />
    <result column="AUTH_FLAG" property="authFlag" jdbcType="INTEGER" />
    <result column="ACCESS_TOKEN" property="accessToken" jdbcType="VARCHAR" />
    <result column="TOKEN_TIME" property="tokenTime" jdbcType="TIMESTAMP" />
    <result column="CREATOR" property="creator" jdbcType="VARCHAR" />
    <result column="CREATOR_NAME" property="creatorName" jdbcType="VARCHAR" />
    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    EMP_ID, UNIQU_NO, EMP_NAME, ID_TYPE, GENDER, ID_CODE, MOBILE, EMAIL, BIRTH_DATE, 
    NATION, COUNTRY, AUTH_FLAG, ACCESS_TOKEN, TOKEN_TIME, CREATOR, CREATOR_NAME, CREATE_TIME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ph_emp_identity
    where EMP_ID = #{empId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ph_emp_identity
    where EMP_ID = #{empId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.xuyantao.ctas.test.entity.PhEmpIdentity" >
    insert into ph_emp_identity (EMP_ID, UNIQU_NO, EMP_NAME, 
      ID_TYPE, GENDER, ID_CODE, 
      MOBILE, EMAIL, BIRTH_DATE, 
      NATION, COUNTRY, AUTH_FLAG, 
      ACCESS_TOKEN, TOKEN_TIME, CREATOR, 
      CREATOR_NAME, CREATE_TIME)
    values (#{empId,jdbcType=BIGINT}, #{uniquNo,jdbcType=BIGINT}, #{empName,jdbcType=VARCHAR}, 
      #{idType,jdbcType=DECIMAL}, #{gender,jdbcType=DECIMAL}, #{idCode,jdbcType=VARCHAR}, 
      #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{birthDate,jdbcType=TIMESTAMP}, 
      #{nation,jdbcType=INTEGER}, #{country,jdbcType=VARCHAR}, #{authFlag,jdbcType=INTEGER}, 
      #{accessToken,jdbcType=VARCHAR}, #{tokenTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, 
      #{creatorName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.xuyantao.ctas.test.entity.PhEmpIdentity" >
    insert into ph_emp_identity
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="empId != null" >
        EMP_ID,
      </if>
      <if test="uniquNo != null" >
        UNIQU_NO,
      </if>
      <if test="empName != null" >
        EMP_NAME,
      </if>
      <if test="idType != null" >
        ID_TYPE,
      </if>
      <if test="gender != null" >
        GENDER,
      </if>
      <if test="idCode != null" >
        ID_CODE,
      </if>
      <if test="mobile != null" >
        MOBILE,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="birthDate != null" >
        BIRTH_DATE,
      </if>
      <if test="nation != null" >
        NATION,
      </if>
      <if test="country != null" >
        COUNTRY,
      </if>
      <if test="authFlag != null" >
        AUTH_FLAG,
      </if>
      <if test="accessToken != null" >
        ACCESS_TOKEN,
      </if>
      <if test="tokenTime != null" >
        TOKEN_TIME,
      </if>
      <if test="creator != null" >
        CREATOR,
      </if>
      <if test="creatorName != null" >
        CREATOR_NAME,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="empId != null" >
        #{empId,jdbcType=BIGINT},
      </if>
      <if test="uniquNo != null" >
        #{uniquNo,jdbcType=BIGINT},
      </if>
      <if test="empName != null" >
        #{empName,jdbcType=VARCHAR},
      </if>
      <if test="idType != null" >
        #{idType,jdbcType=DECIMAL},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=DECIMAL},
      </if>
      <if test="idCode != null" >
        #{idCode,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="birthDate != null" >
        #{birthDate,jdbcType=TIMESTAMP},
      </if>
      <if test="nation != null" >
        #{nation,jdbcType=INTEGER},
      </if>
      <if test="country != null" >
        #{country,jdbcType=VARCHAR},
      </if>
      <if test="authFlag != null" >
        #{authFlag,jdbcType=INTEGER},
      </if>
      <if test="accessToken != null" >
        #{accessToken,jdbcType=VARCHAR},
      </if>
      <if test="tokenTime != null" >
        #{tokenTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null" >
        #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xuyantao.ctas.test.entity.PhEmpIdentity" >
    update ph_emp_identity
    <set >
      <if test="uniquNo != null" >
        UNIQU_NO = #{uniquNo,jdbcType=BIGINT},
      </if>
      <if test="empName != null" >
        EMP_NAME = #{empName,jdbcType=VARCHAR},
      </if>
      <if test="idType != null" >
        ID_TYPE = #{idType,jdbcType=DECIMAL},
      </if>
      <if test="gender != null" >
        GENDER = #{gender,jdbcType=DECIMAL},
      </if>
      <if test="idCode != null" >
        ID_CODE = #{idCode,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null" >
        MOBILE = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="birthDate != null" >
        BIRTH_DATE = #{birthDate,jdbcType=TIMESTAMP},
      </if>
      <if test="nation != null" >
        NATION = #{nation,jdbcType=INTEGER},
      </if>
      <if test="country != null" >
        COUNTRY = #{country,jdbcType=VARCHAR},
      </if>
      <if test="authFlag != null" >
        AUTH_FLAG = #{authFlag,jdbcType=INTEGER},
      </if>
      <if test="accessToken != null" >
        ACCESS_TOKEN = #{accessToken,jdbcType=VARCHAR},
      </if>
      <if test="tokenTime != null" >
        TOKEN_TIME = #{tokenTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null" >
        CREATOR = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="creatorName != null" >
        CREATOR_NAME = #{creatorName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where EMP_ID = #{empId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xuyantao.ctas.test.entity.PhEmpIdentity" >
    update ph_emp_identity
    set UNIQU_NO = #{uniquNo,jdbcType=BIGINT},
      EMP_NAME = #{empName,jdbcType=VARCHAR},
      ID_TYPE = #{idType,jdbcType=DECIMAL},
      GENDER = #{gender,jdbcType=DECIMAL},
      ID_CODE = #{idCode,jdbcType=VARCHAR},
      MOBILE = #{mobile,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      BIRTH_DATE = #{birthDate,jdbcType=TIMESTAMP},
      NATION = #{nation,jdbcType=INTEGER},
      COUNTRY = #{country,jdbcType=VARCHAR},
      AUTH_FLAG = #{authFlag,jdbcType=INTEGER},
      ACCESS_TOKEN = #{accessToken,jdbcType=VARCHAR},
      TOKEN_TIME = #{tokenTime,jdbcType=TIMESTAMP},
      CREATOR = #{creator,jdbcType=VARCHAR},
      CREATOR_NAME = #{creatorName,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where EMP_ID = #{empId,jdbcType=BIGINT}
  </update>
</mapper>